<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/port.css">
    <title>Home</title>
    <link rel="stylesheet" href="./../css/style.css">
     
</head>
<body>
     {{>header}}
            <h1>Hello peoples! this is Home  Page</h1>
            <h2>I am  {{name1}}</h2>
        
     {{>footer}}
</body>
</html>