<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/port.css">
    <title>Home</title>
    <link rel="stylesheet" href="./../css/style.css">
     
</head>
<body>
     {{>header}}
        <div class="home">
                <div class="left-h">
                      <h2>Hello this Home Page</h2>
                      <a href="/about" class="link">About us</a>
                </div>
                <div class="right-h">
                          <img src="./../image/home.jpeg" alt="">
                </div>
        </div>

     {{>footer}}
</body>
</html>