<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/port.css">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
     {{!-- {{>header}} --}}
     <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="/blog">Blogs</a></li>
            <h1>Hello peoples! this is about Page</h1>
             {{!-- <h2>and I am {{name2}}</h2>     --}}
     {{!-- {{>footer}} --}}
</body>
</html>